body {
  font-family: Arial, sans-serif;
  background-color: #ffe9e3;
  color: white;
}

.App {
  text-align: center;
  margin: 0 auto;
  padding: 100px;
  max-width: 850px;
  background-color: #c4c1e0;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.header-button {
  background-color: #ac4c5e;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: #F3AA60;
}

.price-tracker {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.price-button {
  background-color: #ac4c5e;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.price-button:hover {
  background-color: #F3AA60;
}

.lender-list {
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  border: 1px solid #333;
  text-align: center;
}

.details-button {
  background-color: #ac4c5e;
  color: white;
  border: rgb(0, 134, 139);
  border-radius: 35px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.details-button:hover {
  background-color: #F3AA60;
}

.lender-details-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #de95ba;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(22, 0, 87, 0.652);
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  color: #ff0000;
  cursor: pointer;
}

.borrow-button {
  background-color: #ac4c5e;
  color: white;
  border: none;
  border-radius: 35px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.borrow-button:hover {
  background-color: #F3AA60;
}

/* ... (existing styles) */
